{% extends 'common/base_order.html' %}
{% block content %}

    <div class="home-page-section">
        <div class="home-page-container container">
            {% for order in order_list %}
                <div class="article-card">
                    <h1 class="article-title">{{ order.id }}</h1>
                    <p>{{ order.date_ordered }}</p>
                    <span class="source">{{ order.user.name }}</span>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}