{% extends 'common/base.html' %}

{% block content %}
<li>

</li>
<h1>Who are we?</h1>

<p>
    <h3>
        The "Cake Shop" is a Jordanian Brand that started as a small family business.
    </h3>
</p>
<p>
    <h3>
        The "Cake Shop" is a Jordanian Brand that started as a small family business.
    </h3>
</p>
<p>
    <h3>
        The owners are Dr. Iyad Sultan and Dr. Sereen Sharabati, supported by a staff of 80 employees.
    </h3>
</p>
<p>
    <h3>
        Although not small any more, the business tries to keep the family atmosphere where we care not only about our company, our products and our staff, but also we consider each "customer" a member in this family of "cake shoppers".
    </h3>
</p>
<p>
    <h3>
        Our mission is to make people happy. Making delicious cakes, having relaxing chairs in a smoking free environment and keeping our prices reasonable are all different ways to achieve this goal.
    </h3>
</p>

{% endblock content %}