{% extends 'common/base.html' %}

{% block content %}


<h1>You can contact us</h1>

<p>
    <h3>
        Our customer service team is available via email 7 days a week.
        Please email hello@cakeshop.com and we will get back to you as soon as possible.
    </h3>
</p>

    <h1> Our Address</h1>
<p>
    <h3>
    Main Branch

    Opp. Soin Arcade, Westlands Road,
    Nairobi, Kenya
    +254 7097 290 00
    info@cakecity.co.ke
    www.cakecity.co.ke

    </h3>
</p>

</p><h1> Late Shipments</h1>
<p>
    <h3>
    As mentioned on the homepage and the shipping section - 1st class orders are taking up to and even beyond 5 working days (in rare occasions) to be received at the moment. We are still shipping all orders same/next working day so any delays are not caused by us. We sympathise with those of you who have bought for specific dates, but please if you can be patient we would really appreciate it as we have no control over the postal services and the ongoing effects of coronavirus on them.
email hello@cakeshop.com and we will get back to you as soon as possible.
    </h3>
</p>

<p>
    <h3>
    It's the luck of the draw if your order gets through without getting held up along the way at the moment.
    </h3>
</p>
<p>
    <h3>
If your order is for a specific date/time we do recommend the guaranteed next day services which we offer. We make no profit on these, and they are at a premium, but they are being delivered on time :)
    </h3>
</p>
{% endblock content %}